textarea{
	resize: none; /* atributo para que no se mueva el cuadro */
	width: 100%;
	height: 120%;

}
/* acomodar label */
label {
    width: 130px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 8px;
    
}
