table,td,th{
	border: 1px solid #ff0000;
	wight:40%;
	text-align: center;

}
td.col1{
	width: 20%;
}
td.col2{
	width: 45%;
}
td.col3{
	border:12px solid :#ff0000 ;
}
table{
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	background-color: black;
}
td,th{
	padding:3px 13px;
}
thead{
	background-color: yellow;
}
td{
	background-color:green;
}

iframe{
	border:2px;
	width: 34%;
	display: block;

}