body{
	color:black;
	font-size:16px;
	/* comentario */
}
/* atributo de una clase */
.texto_nuevo{
    color:aqua;
    font-size: 39px;
    /* en caso de no tener la fuente*/
    font-family: sans-serif;
}
/*enlaces*/
a{
    color:blue;
}
/* enlace visitado*/
a:{
    color:red;   
}
#izquierda {

    width: 20px;
}
